@charset "UTF-8";
/* Margin/Padding */
/**
 * Typography
 */
body,
input,
select,
optgroup,
.components-text-control__input {
	border-radius: 0;
	color: #2C1810;
	border: 1px solid #EFDFD2;
	padding: 0.5em;
	font-family: var(--wp--preset--font-family--font-main);
	font-size: 16px;
}

select,
.wp-core-ui select.disabled,
.wp-core-ui select:disabled {
	padding: 8px 30px 8px 10px;
	position: relative;
	appearance: none;
	color: #2C1810 !important;
	background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 24 24"><path d="M19.7 11.3C19.3 10.9 18.7 10.9 18.3 11.3L13 16.6V5C13 4.4 12.6 4 12 4C11.4 4 11 4.4 11 5V16.6L5.7 11.3C5.3 10.9 4.7 10.9 4.3 11.3C3.9 11.7 3.9 12.3 4.3 12.7L11.3 19.7C11.4 19.8 11.5 19.9 11.6 19.9C11.7 20 11.9 20 12 20C12.1 20 12.3 20 12.4 19.9C12.5 19.8 12.6 19.8 12.7 19.7L19.7 12.7C20.1 12.3 20.1 11.7 19.7 11.3Z" fill="black"/></svg>') no-repeat !important;
	background-color: #F6ECE5;
	border: solid 1px #EFDFD2;
	border-radius: 12px;
	background-position: right 2% top 48% !important;
}

input[type="checkbox"],
input[type="radio"],
.wc-block-components-checkbox .wc-block-components-checkbox__input[type="checkbox"],
.wc-block-components-checkbox .wc-block-components-checkbox__input[type="radio"],
.wc-block-components-radio-control .wc-block-components-radio-control__input {
	cursor: pointer;
	appearance: none;
	background-color: #FFF;
	position: relative;
	width: 1.1em;
	height: 1.1em;
	min-height: 1.1em;
	min-width: 1.1em;
	display: inline-block;
	transition: all 0.3s ease;
	vertical-align: middle;
	top: -2px;
	margin-right: 5px;
}

input[type="checkbox"]:hover,
input[type="radio"]:hover,
.wc-block-components-checkbox .wc-block-components-checkbox__input[type="checkbox"]:hover,
.wc-block-components-checkbox .wc-block-components-checkbox__input[type="radio"]:hover,
.wc-block-components-radio-control .wc-block-components-radio-control__input:hover {
	background-color: #EFE5E2;
}

input[type="checkbox"]:disabled,
input[type="radio"]:disabled,
.wc-block-components-checkbox .wc-block-components-checkbox__input[type="checkbox"]:disabled,
.wc-block-components-checkbox .wc-block-components-checkbox__input[type="radio"]:disabled,
.wc-block-components-radio-control .wc-block-components-radio-control__input:disabled {
	cursor: not-allowed;
}

input[type="radio"],
.wc-block-components-checkbox .wc-block-components-checkbox__input[type=radio],
.wc-block-components-radio-control .wc-block-components-radio-control__input {
	border-radius: 10000px;
	border: solid 3px #EFDFD2;
}

input[type="radio"]:before,
.wc-block-components-checkbox .wc-block-components-checkbox__input[type=radio]:before,
.wc-block-components-radio-control .wc-block-components-radio-control__input:before {
	content: '';
	background-color: transparent;
	display: block;
	height: .7em;
	width: .7em;
	border-radius: 10000px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease;
}

input[type="radio"]:checked::before,
.wc-block-components-checkbox .wc-block-components-checkbox__input[type=radio]:checked::before,
.wc-block-components-radio-control .wc-block-components-radio-control__input:checked::before {
	background-color: #2C1810;
}

input[type="checkbox"],
.wc-block-components-checkbox .wc-block-components-checkbox__input[type="checkbox"] {
	border-radius: 0;
	border: solid 1px #EFDFD2;
}

input[type="checkbox"]:checked::before,
.wc-block-components-checkbox .wc-block-components-checkbox__input[type="checkbox"]:checked::before {
	content: '✔';
	display: flex;
	justify-content: center;
	align-items: center;
	color: #2C1810;
	background-color: #EFE5E2;
}

/* Headings */
h1,
.wp-block-freeform.block-library-rich-text__tinymce h1,
h2,
.wp-block-freeform.block-library-rich-text__tinymce h2,
h3,
.wp-block-freeform.block-library-rich-text__tinymce h3,
h4,
.wp-block-freeform.block-library-rich-text__tinymce h4,
h5,
.wp-block-freeform.block-library-rich-text__tinymce h5,
h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
	clear: both;
	margin-bottom: 20px;
	font-family: var(--wp--preset--font-family--font-heading);
}

h1,
.wp-block-freeform.block-library-rich-text__tinymce h1 {
	font-size: 32px;
}

h2,
.wp-block-freeform.block-library-rich-text__tinymce h2 {
	font-size: 24px;
}

h3,
.wp-block-freeform.block-library-rich-text__tinymce h3 {
	font-size: 20px;
}

h4,
.wp-block-freeform.block-library-rich-text__tinymce h4 {
	font-size: 18px;
}

h5,
.wp-block-freeform.block-library-rich-text__tinymce h5 {
	font-size: 16px;
}

h6,
.wp-block-freeform.block-library-rich-text__tinymce h6 {
	font-size: 14px;
}

/* General block styles */
.wp-block {
	margin-top: 0;
}

.wp-block [class*='__inner-'],
.wp-block .wp-block {
	margin-bottom: 0;
}

.wp-block-columns {
	margin-bottom: 0;
}

.alignleft {
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

/* copy */
p {
	margin-bottom: 1em;
	line-height: var(--wp--custom--line-height--paragraph);
}

b, strong {
	font-weight: 700;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

cite {
	display: block;
}

address {
	line-height: var(--wp--custom--line-height--paragraph);
	margin: 0 0 1.875em;
}

pre {
	background: #EFDFD2;
	font-family: "Courier 10 Pitch", courier, monospace;
	line-height: 1.6;
	margin-bottom: 1.875em;
	max-width: 100%;
	overflow: auto;
	padding: 1.875em;
}

code,
kbd,
tt,
var,
.wp-block-freeform.block-library-rich-text__tinymce code {
	font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background-color: #EFDFD2;
}

abbr,
acronym {
	border-bottom: 1px dotted #2C1810;
	cursor: help;
}

mark,
ins {
	background: #EFDFD2;
}

big {
	font-size: 150%;
}

/*
 * Elements.
*/
/* hr */
hr {
	background-color: #EFDFD2;
	border: 0;
	height: 1px;
	margin: 0.9375em 0;
}

/* Lists */
ul,
ol {
	margin: 0 0 1.875em 1.25em;
}

ul ul {
	padding-inline-start: 2.5em;
}

ol ol {
	padding-inline-start: 2.5em;
}

ul {
	list-style: disc;
}

ul ul {
	list-style: circle;
}

ul ul ul {
	list-style: square;
}

li {
	line-height: 2em;
}

ol {
	list-style: decimal;
}

ol ol {
	list-style: lower-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 2em;
}

dt {
	font-weight: 700;
	margin-bottom: 1em;
}

dd {
	margin: 0 1.875em 1.875em;
}

/* Media */
img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 16px 0;
}

.wp-block-media-text.has-media-on-the-right {
	margin-bottom: 16px;
}

.wp-block .wp-block {
	margin-bottom: 1em;
}

.wp-caption-dd {
	text-align: center;
}

/* Table */
table,
.wp-block-table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

table thead,
.wp-block-table thead {
	background-color: #F6ECE5;
}

table th,
table td,
.wp-block-table th,
.wp-block-table td {
	padding: 1.25em;
	border: 1px solid #EFDFD2;
}

a,
.wp-block-freeform.block-library-rich-text__tinymce a {
	color: #2C1810;
	text-decoration: underline;
}

/* Blocks
	 ========================================================================== */
/* Product */
.wc-block-grid__product {
	text-align: left;
}

.wc-block-grid__product .wc-block-grid__product-add-to-cart,
.wc-block-grid__product .wc-block-grid__product-onsale,
.wc-block-grid__product .wc-block-grid__product-price,
.wc-block-grid__product .wc-block-grid__product-rating {
	margin-left: 0;
	margin-right: 0;
}

.wc-block-grid__products li a {
	text-decoration: none;
}

.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product, .wc-block-grid.has-5-columns.alignfull .wc-block-grid__product, .wc-block-grid.has-6-columns .wc-block-grid__product {
	font-size: 1rem;
}

.wc-block-grid.has-1-columns .wc-block-grid__product, .wc-block-grid.has-2-columns .wc-block-grid__product, .wc-block-grid.has-3-columns .wc-block-grid__product, .wc-block-grid.has-4-columns .wc-block-grid__product, .wc-block-grid.has-5-columns .wc-block-grid__product, .wc-block-grid.has-6-columns .wc-block-grid__product {
	border: none;
	margin: 0 15px 30px;
}

.wc-block-grid.has-1-columns .wc-block-grid__product:nth-child(odd), .wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(odd), .wc-block-grid.has-3-columns .wc-block-grid__product:nth-child(odd), .wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(odd), .wc-block-grid.has-5-columns .wc-block-grid__product:nth-child(odd), .wc-block-grid.has-6-columns .wc-block-grid__product:nth-child(odd) {
	padding-right: 0;
}

.wc-block-grid.has-2-columns .wc-block-grid__products, .wc-block-grid.has-3-columns .wc-block-grid__products, .wc-block-grid.has-4-columns .wc-block-grid__products, .wc-block-grid.has-5-columns .wc-block-grid__products, .wc-block-grid.has-6-columns .wc-block-grid__products {
	display: flex;
}

.wc-block-grid.has-2-columns .wc-block-grid__product, .wc-block-grid.has-3-columns .wc-block-grid__product, .wc-block-grid.has-4-columns .wc-block-grid__product, .wc-block-grid.has-5-columns .wc-block-grid__product, .wc-block-grid.has-6-columns .wc-block-grid__product {
	max-width: calc(50% - 1.875rem);
	flex-basis: 50%;
}

.wc-block-grid.has-1-columns .wc-block-grid__product {
	max-width: 100%;
}

.wc-block-grid .wc-block-grid__products {
	margin-left: -0.9375em;
	margin-right: -0.9375em;
}

@media screen and (min-width: 37.5em) {
	.wc-block-grid.has-4-columns .wc-block-grid__product, .wc-block-grid.has-3-columns .wc-block-grid__product {
		max-width: calc(33% - 1.875rem);
	}
}

@media screen and (min-width: 48em) {
	.site-sidebar .has-2-columns .product .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link,
	.libreria-footer .has-2-columns .product .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
		padding: 0;
	}
	.wc-block-grid.has-6-columns .wc-block-grid__product {
		max-width: calc(33% - 1.875rem);
		flex-basis: 33%;
	}
	.wc-block-grid.has-5-columns .wc-block-grid__product {
		max-width: calc(33% - 1.875rem);
		flex-basis: 33%;
	}
}

@media screen and (min-width: 62em) {
	.wc-block-grid.has-6-columns .wc-block-grid__product {
		max-width: calc(25% - 1.875rem);
	}
	.wc-block-grid.has-5-columns .wc-block-grid__product {
		max-width: calc(25% - 1.875rem);
	}
	.wc-block-grid.has-4-columns .wc-block-grid__product {
		max-width: calc(25% - 1.875rem);
	}
}

@media screen and (min-width: 75em) {
	.wc-block-grid.has-6-columns .wc-block-grid__product {
		max-width: calc(16.66% - 1.875rem);
	}
	.wc-block-grid.has-5-columns .wc-block-grid__product {
		max-width: calc(20% - 1.875rem);
	}
	.wc-block-grid.has-4-columns .wc-block-grid__product {
		max-width: calc(25% - 1.875rem);
	}
}

.wc-block-components-pagination {
	margin: 0;
	margin-top: 9.375em;
}

html :where(.wp-block)[data-align=wide] {
	max-width: 840px;
}

.wc-block-grid__product-onsale {
	border: none;
	font-weight: 400;
	text-transform: initial;
}

.product,
.wc-block-layout {
	list-style: none;
	position: relative;
	overflow: hidden;
	/* blocks/_products.scss */
	/* woocommerce/_products.scss */
}

.product .wc-block-grid__product-title,
.wc-block-layout .wc-block-grid__product-title {
	font-size: 1.25em;
	color: #2C1810;
}

.product .wc-block-grid__product-rating,
.wc-block-layout .wc-block-grid__product-rating {
	order: 3;
	margin: 0.625em 0 0;
}

.product .star-rating,
.product .wc-block-grid__product-rating__stars,
.wc-block-layout .star-rating,
.wc-block-layout .wc-block-grid__product-rating__stars {
	margin: 0;
}

.product .wc-block-grid__product-price,
.wc-block-layout .wc-block-grid__product-price {
	font-size: 1.25rem;
	margin: 0.5em 0 0;
}

.product .wc-block-grid__product-price .price,
.wc-block-layout .wc-block-grid__product-price .price {
	font-weight: 700;
}

.product .wc-block-grid__product-add-to-cart,
.wc-block-layout .wc-block-grid__product-add-to-cart {
	font-size: 1rem;
	padding: 0;
	margin: 1.25em 0 0;
}

.product .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link,
.wc-block-layout .wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
	width: 100%;
	padding: 0.625em;
}

.product > a,
.wc-block-layout > a {
	display: block;
}

.product img,
.wc-block-layout img {
	display: block;
	margin: 0 auto;
}

.product .wc-block-grid__product-title,
.wc-block-layout .wc-block-grid__product-title {
	font-size: 1.125rem;
	margin: 0;
	font-weight: 500;
	font-family: var(--wp--preset--font-family--font-heading);
}

.product .add_to_cart_button,
.wc-block-layout .add_to_cart_button {
	box-shadow: none;
	margin-top: 1.14286em;
	background-color: #EFDFD2;
	display: block;
	border-radius: 12px;
	color: #2C1810;
	font-weight: 400;
}

.star-rating {
	margin-top: 0.625em;
}

.price {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;
	margin-top: 0.625em;
}

.price ins,
.price > span {
	text-decoration: none;
	background-color: transparent;
	font-weight: 500;
}

.price del {
	color: rgba(44, 24, 16, 0.6);
}

.price ins,
.price del,
.price > span {
	line-height: 1;
	margin: 0;
}

.product__thumbnail {
	margin-top: 0;
	background-color: #F6ECE5;
}

.product__thumbnail a {
	display: block;
}

.libreria-product-thumbnail--full.wc-block-grid__product .wc-block-grid__product-image:not(.wc-block-components-product-image) {
	margin: 0;
}

.libreria-product-thumbnail--full .wc-block-grid__product-image {
	width: 100%;
}

.libreria-product-thumbnail--full .product__thumbnail img {
	width: 100%;
}

.product__content {
	position: relative;
}

.product__content > a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
}

.wc-block-grid__product-onsale {
	font-size: .875rem;
	line-height: 21px;
	border: none;
	position: absolute;
	top: 0.57143em;
	left: 0.57143em;
	border-radius: 12px;
	background-color: var(--wp--preset--color--accent);
	color: #FFF;
	font-weight: 500;
	padding: 4px 16px;
}

.wc-block-pagination button.wc-block-pagination-page {
	margin: 0.625em;
	padding: 4px;
	width: 2.5em;
	height: 2.5em;
	background-color: #EFDFD2;
	color: #2C1810;
	border-radius: 12px;
}

.wc-block-pagination button.wc-block-pagination-page:first-child {
	margin-left: 0;
}

.wc-block-pagination button.wc-block-pagination-page:last-child {
	margin-right: 0;
}

.wc-block-pagination button.wc-block-pagination-page:hover {
	color: #FFF;
	background-color: #1A0E0A;
}

.wc-block-pagination button.wc-block-pagination-page--active {
	background-color: #2C1810;
	color: #FFF;
}

/* woocommerce cart block */
.wc-block-cart a {
	text-decoration: none;
}

.wc-block-cart table.wc-block-cart-items thead {
	background-color: transparent;
}

.wc-block-cart table.wc-block-cart-items .wc-block-cart-items__header th {
	padding: 0.8em;
}

.wc-block-cart table.wc-block-cart-items .wc-block-cart-items__header th:last-child {
	padding-right: 0.8em;
}

.wc-block-cart table.wc-block-cart-items th,
.wc-block-cart table.wc-block-cart-items tr,
.wc-block-cart table.wc-block-cart-items td {
	border: none;
}

.wc-block-cart table.wc-block-cart-items th {
	background-color: #F6ECE5 !important;
	font-size: 1.25rem;
	text-transform: capitalize;
	font-weight: 400;
}

.wc-block-cart table.wc-block-cart-items th.wc-block-cart-items__header-product {
	visibility: visible;
	color: transparent;
}

.wc-block-cart table.wc-block-cart-items .wc-block-cart-items__row td:last-child {
	padding-right: 16px;
}

.wc-block-cart table.wc-block-cart-items .wc-block-components-product-name {
	margin-bottom: 0.625em;
}

.wc-block-cart table.wc-block-cart-items .wc-block-components-product-metadata {
	margin-bottom: 1.07143em;
}

.wc-block-cart table.wc-block-cart-items .wc-block-components-product-metadata .wc-block-components-product-metadata__description > p {
	font-size: .875rem;
}

.wc-block-cart table.wc-block-cart-items .wc-block-cart-item__prices {
	margin-bottom: 0.5em;
}

.wc-block-cart .wc-block-components-product-badge {
	border: none;
	background-color: #FFF;
	text-transform: capitalize;
	font-weight: 500;
	margin-bottom: 0.83333em;
}

.wc-block-cart .wc-block-components-quantity-selector {
	margin-bottom: 0.625em;
}

.wc-block-cart .wc-block-components-quantity-selector::after {
	border: none;
}

.wc-block-cart .wc-block-components-quantity-selector::after,
.wc-block-cart .wc-block-components-quantity-selector .wc-block-components-quantity-selector__button {
	border-radius: 0px;
}

.wc-block-cart .wc-block-components-quantity-selector .wc-block-components-quantity-selector__input {
	background-color: #F6ECE5;
	font-weight: normal;
	font-size: 1.25rem;
}

.wc-block-cart .wc-block-components-quantity-selector .wc-block-components-quantity-selector__input:focus {
	box-shadow: none;
}

.wc-block-cart .wc-block-components-quantity-selector .wc-block-components-quantity-selector__button {
	background-color: #EFDFD2;
}

.wc-block-cart.is-large .wc-block-cart__totals-title {
	text-align: left;
	padding: 0;
	margin-bottom: 0.8em;
	font-size: 1.25rem;
	font-weight: normal;
	text-transform: capitalize;
}

.wc-block-components-totals-wrapper {
	padding: 1.25em 0;
}

/* woocommerce checkout block */
.wc-block-checkout .wc-block-components-title {
	font-size: 1.5rem;
}

.wc-block-checkout .wc-block-components-checkout-step__heading {
	margin-top: 0;
}

.wc-block-checkout .wc-block-components-checkbox label {
	align-items: center;
}

.wc-block-checkout .wc-block-components-checkbox .wc-block-components-checkbox__label {
	margin-left: 5px;
}

.wc-block-checkout .wc-block-components-form .wc-block-components-text-input:only-child {
	margin-top: 0;
}

.wc-block-checkout .wc-block-components-order-summary-item__quantity {
	border: none;
	border-radius: 10000px;
	background-color: #2C1810;
	color: #FFF;
	box-shadow: none;
	min-width: unset;
}

.wc-block-checkout .wc-block-components-order-summary-item__quantity > span {
	font-size: .875rem;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control__option .wc-block-components-radio-control__input {
	position: absolute;
	top: 50%;
}

.wc-block-checkout__payment-method .wc-block-components-radio-control-accordion-option:last-child:after, .wc-block-checkout__payment-method .wc-block-components-radio-control-accordion-option:after {
	border-width: 0px;
}

.wc-block-checkout .wc-block-components-panel > h2 {
	margin-bottom: 1.875em;
}

.wc-block-checkout .wc-block-components-panel > h2 .wc-block-components-panel__button {
	padding-bottom: 0;
	margin-bottom: 0;
}

.wc-block-components-form .wc-block-components-text-input input[type=email],
.wc-block-components-form .wc-block-components-text-input input[type=number],
.wc-block-components-form .wc-block-components-text-input input[type=tel],
.wc-block-components-form .wc-block-components-text-input input[type=text],
.wc-block-components-form .wc-block-components-text-input input[type=url] {
	border-color: #EFDFD2;
}

.wc-block-components-form .wc-block-components-text-input input[type=email]:focus,
.wc-block-components-form .wc-block-components-text-input input[type=number]:focus,
.wc-block-components-form .wc-block-components-text-input input[type=tel]:focus,
.wc-block-components-form .wc-block-components-text-input input[type=text]:focus,
.wc-block-components-form .wc-block-components-text-input input[type=url]:focus {
	box-shadow: none;
}

.wc-block-components-form .wc-block-components-text-input label {
	color: rgba(44, 24, 16, 0.5);
}

.wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input {
	border-color: #EFDFD2;
}

.wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input:focus {
	box-shadow: none;
}

.wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input label {
	color: rgba(44, 24, 16, 0.5);
}

.wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control .components-form-token-field__suggestions-list {
	border-color: #EFDFD2;
}

.wc-block-components-checkbox .wc-block-components-checkbox__input[type=checkbox]:focus {
	outline: none;
	outline-offset: 0px;
	border-color: #EFDFD2;
}

.wc-block-components-checkbox .wc-block-components-checkbox__mark {
	display: none;
}

.wc-block-components-button:not(.is-link).contained {
	background-color: #2C1810;
	font-weight: normal;
}

.wc-block-components-totals-wrapper:after,
.wc-block-components-order-summary-item:after {
	border-color: #2C1810;
	opacity: 1;
}

.wc-block-cart .wc-block-components-sidebar .wc-block-components-panel,
.wc-block-cart .wc-block-components-sidebar .wc-block-components-totals-item,
.wc-block-checkout .wc-block-components-sidebar .wc-block-components-panel,
.wc-block-checkout .wc-block-components-sidebar .wc-block-components-totals-item {
	padding-left: 0;
	padding-right: 0;
}

.wc-block-cart .price ins,
.wc-block-cart .price > span,
.wc-block-checkout .price ins,
.wc-block-checkout .price > span {
	font-weight: 500;
}

.wc-block-cart .wc-block-components-totals-item__label,
.wc-block-cart .wc-block-components-totals-item__value,
.wc-block-checkout .wc-block-components-totals-item__label,
.wc-block-checkout .wc-block-components-totals-item__value {
	font-weight: 500;
	font-size: 1.25rem;
}

.wc-block-cart textarea,
.wc-block-checkout textarea {
	background-color: transparent;
}

.wc-block-components-totals-coupon__form .wc-block-components-button:not(.is-link).contained {
	background-color: #FFF;
	color: #2C1810;
	font-weight: normal;
}

.wc-block-components-totals-coupon__form input[type="text"] {
	border: none;
	border-radius: 0;
}

.wc-block-components-totals-coupon__form input[type="text"]:focus {
	box-shadow: none;
}

.wc-block-components-checkout-return-to-cart-button {
	text-decoration: none;
}

.is-large .wc-block-checkout__actions:after,
.wc-block-cart .wc-block-components-main table.wc-block-cart-items:after,
.wc-block-cart table.wc-block-cart-items .wc-block-cart-items__row td:after,
.wc-block-components-checkout-step--with-step-number .wc-block-components-checkout-step__container:after {
	border-color: #EFDFD2;
	opacity: 1;
}

.wc-block-filter-submit-button,
.wp-block-file .wp-block-file__button {
	background-color: #2C1810;
	border-radius: 12px;
	border: none;
	font-size: 16px;
	color: #FFF;
	padding: 1em 2em;
}

.wp-block-file .wp-block-file__button {
	font-size: 12px;
}

/* Editor Button Styles. */
.wc-block-components-button,
.wp-block-button__link,
.wc-block-product-search__button,
.wp-block-search__button {
	background-color: #2C1810;
	border-radius: 12px;
	border: none;
	font-size: 1rem;
	color: #FFF;
	padding: 1em 2em;
	cursor: pointer;
	transition: all 0.3s;
	text-decoration: none;
	box-shadow: 10px 10px 0px rgba(17, 17, 17, 0.1);
}

.wc-block-components-button:hover, .wc-block-components-button:focus, .wc-block-components-button:active,
.wp-block-button__link:hover,
.wp-block-button__link:focus,
.wp-block-button__link:active,
.wc-block-product-search__button:hover,
.wc-block-product-search__button:focus,
.wc-block-product-search__button:active,
.wp-block-search__button:hover,
.wp-block-search__button:focus,
.wp-block-search__button:active {
	box-shadow: none;
	color: #FFF;
}

.wc-block-product-search textarea {
	background-color: transparent;
}

.wc-block-product-search .wc-block-product-search__button {
	padding: 0 .5em;
}

.wp-block-button {
	margin-bottom: 1.5em;
}

.wp-block-button.is-style-fill .wp-block-button__link {
	background-color: #2C1810;
}

.wp-block-button.is-style-outline .wp-block-button__link {
	color: #2C1810;
	border: solid 2px currentColor;
}

/* Cover block styles. */
.wp-block-cover .wp-block-cover__inner-container a,
.wp-block-cover .wp-block-cover__inner-container a:hover,
.wp-block-cover .wp-block-cover__inner-container a:focus,
.wp-block-cover .wp-block-cover__inner-container a:active {
	color: #FFF;
}

.wc-block-product-search__button {
	border: none;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote,
blockquote,
.wp-block-quote {
	border-left: solid 2px #2C1810;
	padding: 1.25em;
	font-size: 1.25rem;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote p,
blockquote p,
.wp-block-quote p {
	font-weight: 400;
	color: #2C1810;
	margin-bottom: 0.625em;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote cite,
blockquote cite,
.wp-block-quote cite {
	font-size: 1rem;
	font-weight: 700;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote .wp-block-quote__citation.rich-text,
blockquote .wp-block-quote__citation.rich-text,
.wp-block-quote .wp-block-quote__citation.rich-text {
	font-style: italic;
	font-weight: 700;
	margin-bottom: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large,
blockquote.is-style-large,
.wp-block-quote.is-style-large {
	border: none;
	padding: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large:not(.is-style-plain) p,
.wp-block-freeform.block-library-rich-text__tinymce blockquote.is-style-large p,
blockquote.is-style-large:not(.is-style-plain) p,
blockquote.is-style-large p,
.wp-block-quote.is-style-large:not(.is-style-plain) p,
.wp-block-quote.is-style-large p {
	font-style: normal;
	font-size: 1.875rem;
}

.wp-block-freeform.block-library-rich-text__tinymce blockquote.has-text-align-right,
blockquote.has-text-align-right,
.wp-block-quote.has-text-align-right {
	border-right: solid 2px #2C1810;
	border-left: none;
}

.wp-block-pullquote {
	border-top: 2px solid #2C1810;
	border-bottom: 2px solid #2C1810;
	padding: 1.25em;
}

.wp-block-pullquote blockquote {
	border: none;
}

.wp-block-pullquote.is-style-solid-color {
	border: none;
}

.wp-block-pullquote.is-style-solid-color blockquote {
	max-width: unset;
}

/* Styles for archives widget as a block. */
.wp-block-archives-list {
	list-style: none;
	padding-inline-start: 0;
	margin-left: 0;
}

.wp-block-archives-list li {
	font-size: 16px;
	display: flex;
	justify-content: space-between;
}

/* Styles for categories widget as a block. */
.wp-block-categories__list {
	list-style: none;
	padding-inline-start: 0;
	margin-left: 0;
}

.wp-block-categories__list li {
	font-size: 16px;
	display: flex;
	justify-content: space-between;
}

/* Styles for latest post widget as a block. */
.wp-block-latest-posts__list li a {
	font-size: 20px;
	display: block;
}

.wp-block-latest-posts__list li:not(:last-child) {
	margin-bottom: 1.875em;
}

.wp-block-latest-posts__post-date, .wp-block-latest-posts__post-author {
	font-size: 16px;
	display: inline-block;
}

.wp-block-latest-posts__post-author {
	margin-right: 0.625em;
}

.wp-block-search__button {
	padding: .375em 1.25em;
	line-height: 1;
	font-size: 16px;
	margin-left: 0.625em;
}

ul.wp-block-rss {
	list-style: none;
	padding: 0;
	margin-left: 0;
}

.wp-block-freeform.block-library-rich-text__tinymce dl.wp-caption a {
	display: inline;
}

/* WC product category block. */
/* WC product category block. */
.wp-block-woocommerce-product-categories.is-list .wc-block-product-categories-list {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	list-style: none;
	padding-inline-start: 0;
	margin-left: -0.9375em;
	margin-right: -0.9375em;
}

.wp-block-woocommerce-product-categories.is-list .wc-block-product-categories-list .wc-block-product-categories-list-item {
	max-width: calc(33% - 2rem);
	flex-basis: 33%;
	margin: 0 0.625em;
}

.wp-block-woocommerce-product-categories.is-list .wc-block-product-categories-list .wc-block-product-categories-list-item:not(:last-child) {
	margin-bottom: 1.875em;
}

@media screen and (min-width: 62em) {
	.wp-block-woocommerce-product-categories.is-list .wc-block-product-categories-list .wc-block-product-categories-list-item {
		max-width: calc(16.66% - 1.875em);
	}
}

.wp-block-woocommerce-product-categories.is-list .wc-block-product-categories-list .wc-block-product-categories-list-item a {
	display: flex;
	flex-direction: column;
	font-family: var(--wp--preset--font-family--font-heading);
	font-size: 1.125rem;
	text-decoration: none;
}

.wp-block-woocommerce-product-categories.is-list .wc-block-product-categories-list .wc-block-product-categories-list-item .wc-block-product-categories-list-item-count {
	float: none;
	font-size: .875rem;
}

.wp-block-woocommerce-product-categories.is-list .wc-block-product-categories-list .wc-block-product-categories-list-item .wc-block-product-categories-list {
	display: none;
}

.wp-block-woocommerce-product-categories.is-list .wc-block-product-categories-list-item__image {
	max-width: 100%;
	margin: 0;
	margin-bottom: 1.25em;
	border: 0;
}

.wp-block-woocommerce-product-categories.is-dropdown .wc-block-product-categories__button svg {
	fill: #FFF;
}

/* WC price filter block. */
.wp-block-woocommerce-price-filter .wc-block-price-filter__title {
	text-transform: uppercase;
	font-size: 1.6rem;
	margin-bottom: 1.25em;
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input-wrapper {
	height: 5px;
	background-color: rgba(44, 24, 16, 0.2);
	box-shadow: none;
	margin: 0 0 1.5em 0;
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input-progress {
	height: 5px;
	--range-color: #2C1810;
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input::-webkit-slider-thumb {
	appearance: none;
	background-image: none;
	cursor: col-resize;
	position: relative;
	top: 2px;
	width: 1em;
	height: 1em;
	outline: none;
	background-color: #2C1810;
	box-sizing: border-box;
	opacity: 1;
	border-radius: 50px;
	border: 4px solid #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input::-moz-range-thumb {
	appearance: none;
	background-image: none;
	cursor: col-resize;
	position: relative;
	width: 1em;
	height: 1em;
	outline: none;
	background-color: #2C1810;
	box-sizing: border-box;
	opacity: 1;
	border-radius: 50px;
	border: 4px solid #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input::-ms-thumb {
	appearance: none;
	background-image: none;
	cursor: col-resize;
	position: relative;
	top: -2px;
	width: 1em;
	height: 1em;
	outline: none;
	background-color: #2C1810;
	box-sizing: border-box;
	opacity: 1;
	border-radius: 50px;
	border: 4px solid #FFF;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input--min::-webkit-slider-thumb {
	left: -5px;
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input--min::-moz-range-thumb {
	transform: translate(-7px, 2px);
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input--min::-ms-thumb {
	left: -5px;
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input--max::-webkit-slider-thumb {
	right: -5px;
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input--max::-moz-range-thumb {
	transform: translate(7px, 2px);
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__range-input--max::-ms-thumb {
	right: -5px;
}

.wp-block-woocommerce-price-filter .wc-block-price-filter__controls input {
	border-color: #EFDFD2 !important;
}

.wc-block-attribute-filter .wc-block-components-dropdown-selector__input-wrapper {
	border-color: #EFDFD2;
}

.wc-block-attribute-filter .wc-block-checkbox-list li {
	display: flex;
	font-size: 16px;
	margin-bottom: 0.625em;
	align-items: center;
}

.wc-block-attribute-filter .wc-block-checkbox-list li label {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
}

.wc-block-active-filters__list-item-remove svg ellipse {
	fill: #2C1810;
	fill-opacity: 1;
}

.wc-block-active-filters .wc-block-active-filters__list-item-name {
	font-weight: 400;
}

.wc-block-active-filters__list--chips .is-removable.wc-block-components-chip {
	background-color: #EEF0F2;
	padding: 0.125em 1em;
	margin: 0.25em 0.25em 0.25em 0;
	border-radius: 50px;
	border: none;
	color: #2C1810;
	align-items: center;
	line-height: 2;
}

.wc-block-components-chip__text {
	order: 2;
}

.wc-block-components-chip__remove {
	order: 1;
	color: #FFF;
	background-color: #2C1810;
	border-radius: 1000px;
	margin-right: 0.5em;
	height: 16px;
	width: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wc-block-components-chip__remove svg {
	fill: #FFF;
}

.wc-filter-element-label-list-count {
	opacity: 1;
}

.wp-block-latest-comments .wp-block-latest-comments {
	margin-left: 0;
}
